html {
    background: #FFF url(../img/background.png);
}

body {
    background: #FFF;
    border: 1px solid #999;
    border-top: none;
    box-shadow: 0 0 12px #CCC;
}

header {
    border-bottom: 3px solid #017abf;
}

.temp {
    margin: 20px 0;
}

footer {
    background: #333;
    border-top: 3px solid #555;
    color: #FFF;
    margin-top: 20px;
    padding: 20px;
    text-align: right;
}